<!doctype html>
<html>

<include file='Common:header'/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/album_list.css"/>

<body>

<include file='Common:top'/>

<!--con start-->
<div class="con">

    <include file='Common:nav'/>

    <!--articla start-->
    <div class="article_left">
        <div class="article_tuiJ">
            <h3><a href="#">首页</a>&gt;&gt;<a href="#">影踪</a></h3>
            <p>画影相踪</p>
        </div>

        <if condition="$album_type_list">
            <volist name="album_type_list" id="vo">
                <div class="article_tit">
					<div class="article_tit_pic"><a href="#"><img src="__PUBLIC__/Home/images/01.jpg" /></a></div>
                    <div class="article_tit_txt">
						<h4><a href="#">{$vo.type_name}</a></h4>
						<p>
							<a href="javascript:voide(0)" class="writer">admin</a>
							<a href="#" class="Clas">{$vo.type_name}</a>
							<a href="javascript:voide(0)" class="look">浏览（0）</a>
						</p>
						<p class="article_con">{$vo.type_desc}</p>
                        <a href="__ROOT__/index.php?m=home&c=album&a=album_list&type_id={$vo.type_id}&type=album" class="readAll">查看图片</a>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </volist>
            <div class="Index">
                <ul>
                    {$page_info}
                </ul>
            </div>
            <else/>
            <div class="article_tit" style="text-align: center;">
                没有数据
            </div>
        </if>


    </div>
    <!--article end-->

    <include file='Common:article_nav'/>

    <div style="clear:both;"></div>
</div>
<div class="return_top"><a href="javascript:void(0)"></a></div>

<include file='Common:footer'/>

<!--con end-->

<include file='Common:bottom'/>

</body>
</html>