<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>看一眼吧看一眼吧</title>
    <meta name="keywords" content="看一眼吧看一眼吧">
    <meta name="Description" content="看一眼吧看一眼吧">
	<link rel="shortcut icon" href="zhi_favicon.ico">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Zhibo/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Zhibo/css/index.css"/>
    <script src="__PUBLIC__/Zhibo/js/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="top"> 
	<div class="title">直播吧</div>
</div>

<div class="module">
	
	<if condition="$act_list">
		<volist name="act_list" key="key" id="item">	

			<div class="head">
				<h2>{$item.month_date} {$item.week_day}</h2>
			</div>
			<div class="content">
				<table>
					<volist name="item.data" k="k" id="vo">	
						<tr>
							<td class="td_1" >{$vo.time}</td>
							<td class="td_2" >
								<div>
									<img src="__ROOT__{$vo.act_head_url}" alt="主播头像" style="display: inline;">
								</div>
								<div><b>{$vo.act_name}</b></div>
							</td>
							<td class="td_3" >
								<div class="s_name" ><b>{$vo.act_platform}</b></div>
								<div class="s_keyword" ><b>{$vo.act_desc}</b></div>
							</td>

							<td class="td_4">
								<div class="remind">
								<if condition="$vo.is_start eq 1">
									第2节<br>结束
								<else /> 
									<a href="{$vo.act_player_url}" target="_blank">
										<img src="__PUBLIC__/Zhibo/images/clock1.png">
									</a>
								</if>
								</div>
								
								<div class="hidentime" style="display:none;">{$vo.act_time}</div>
							</td>
						</tr>			
					</volist>					
				</table>		
			</div><!--end content-->
		</volist>
	</if>
	

</div>

<script>
	var server_date = '{$now_time}';
	var server_time = Date.parse(new Date(server_date));
	server_time = server_time / 1000;
	
	function set_show(){
		server_time += 10;
		$(".hidentime").each(function(){
			var get_time = Date.parse(new Date(($(this).html().trim())));
			get_time = get_time / 1000;

			if(server_time >= get_time){
				$(this).siblings('.remind').html('第N场<br>已结束');
			}
		});
	
	}
	
	setInterval("set_show()",5000);
</script>


</body>
</html>