<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>看一眼吧看一眼吧</title>
    <meta name="keywords" content="看一眼吧看一眼吧">
    <meta name="Description" content="看一眼吧看一眼吧">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Zhibo/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Zhibo/css/index.css"/>
    <script src="__PUBLIC__/Zhibo/js/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="module">
    <div class="head">
        <h2>07月09日 星期日</h2>
    </div>
    <div class="content">
		<table>
			<tr>
				<td>15:30</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/shandongluneng.png" alt="" style="display: inline;">
					</div>
					<div><b>长春亚泰</b></div>
				</td>
				<td>
					<div class="s_name" ><b>中超第16轮</b></div>
					<div class="s_keyword" ><b>CCTV5 上海体育 吉林公共 青海卫视 PPTV</b></div>
				</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/tianjintaida.png" alt="" style="display: inline;">
					</div>
					<div><b>上海上港</b></div>
				</td>
				<td>
					<div class="remind">
						<a href="#" target="_blank">
							<img src="__PUBLIC__/Zhibo/images/clock1.png" id="clock1">
						</a>
					</div>
				</td>
				<td>
					<div style="display:none;">2017-07-09 15:30</div>
				</td>
			</tr>
			
			<tr>
				<td>15:30</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/shandongluneng.png" alt="" style="display: inline;">
					</div>
					<div><b>长春亚泰</b></div>
				</td>
				<td>
					<div class="s_name" ><b>中超第16轮</b></div>
					<div class="s_keyword" ><b>CCTV5 上海体育 吉林公共 青海卫视 PPTV</b></div>
				</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/tianjintaida.png" alt="" style="display: inline;">
					</div>
					<div><b>上海上港</b></div>
				</td>
				<td>
					<div class="remind">
						<a href="#" target="_blank">
							<img src="__PUBLIC__/Zhibo/images/clock1.png" id="clock1">
						</a>
					</div>
				</td>
				<td>
					<div style="display:none;">2017-07-09 15:30</div>
				</td>
			</tr>			
			
			<tr>
				<td>15:30</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/shandongluneng.png" alt="" style="display: inline;">
					</div>
					<div><b>长春亚泰</b></div>
				</td>
				<td>
					<div class="s_name" ><b>中超第16轮</b></div>
					<div class="s_keyword" ><b>CCTV5 上海体育 吉林公共 青海卫视 PPTV</b></div>
				</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/tianjintaida.png" alt="" style="display: inline;">
					</div>
					<div><b>上海上港</b></div>
				</td>
				<td>
					<div class="remind">
						<a href="#" target="_blank">
							<img src="__PUBLIC__/Zhibo/images/clock1.png" id="clock1">
						</a>
					</div>
				</td>
				<td>
					<div style="display:none;">2017-07-09 15:30</div>
				</td>
			</tr>					
		</table>
	</div>
	
    <div class="head">
        <h2>07月10日 星期一</h2>
    </div>
    <div class="content">
		<table>
			<!-- 第二种效果 -->
			<tr>
				<td>15:30</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/shandongluneng.png" alt="主播头像" style="display: inline;">
					</div>
					<div><b>你是谁？</b></div>
				</td>
				<td>
					<div class="s_name" ><b>某某平台</b></div>
					<div class="s_keyword" ><b>主播描述</b></div>
				</td>

				<td>
					<div class="remind">
						<a href="#" target="_blank">
							<img src="__PUBLIC__/Zhibo/images/clock1.png" id="clock1">
						</a>
					</div>
				</td>
				<td>
					<div style="display:none;">2017-07-09 15:30</div>
				</td>
			</tr>				
			<tr>
				<td>15:30</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/shandongluneng.png" alt="主播头像" style="display: inline;">
					</div>
					<div><b>你是谁？</b></div>
				</td>
				<td>
					<div class="s_name" ><b>某某平台</b></div>
					<div class="s_keyword" ><b>主播描述</b></div>
				</td>

				<td>
					<div class="remind">
						<a href="#" target="_blank">
							<img src="__PUBLIC__/Zhibo/images/clock1.png" id="clock1">
						</a>
					</div>
				</td>
				<td>
					<div style="display:none;">2017-07-09 15:30</div>
				</td>
			</tr>	
			<tr>
				<td>15:30</td>
				<td>
					<div>
						<img src="__PUBLIC__/Zhibo/images/shandongluneng.png" alt="主播头像" style="display: inline;">
					</div>
					<div><b>你是谁？</b></div>
				</td>
				<td>
					<div class="s_name" ><b>某某平台</b></div>
					<div class="s_keyword" ><b>主播描述</b></div>
				</td>

				<td>
					<div class="remind">
						<a href="#" target="_blank">
							<img src="__PUBLIC__/Zhibo/images/clock1.png" id="clock1">
						</a>
					</div>
				</td>
				<td>
					<div style="display:none;">2017-07-09 15:30</div>
				</td>
			</tr>				
		</table>		
    </div><!--end content-->
	
</div>

</body>
</html>