<include file='Common:top'/>
<script type="text/javascript" src="__PUBLIC__/Jedate/jedate.js"></script>

<body>

<div class="panel admin-panel">
	<div class="panel-head"><strong class="icon-reorder"> 管理员日志</strong></div>
	
	<div class="padding border-bottom">
		<form action="" method="get">
			<input type="hidden" name="m" value="ttfadmin" />
			<input type="hidden" name="c" value="admin" />
			<input type="hidden" name="a" value="admin_log_list" />
			<ul class="search" style="padding-left:10px;">
				<li>
					管理员
					<select name="admin_id" class="input" style="width:95px; line-height:17px; display:inline-block">
						<option value="-1">选择管理员</option>
						<volist name="admins" id="vo">
							<option {$vo.select} value="{$vo.admin_id}">{$vo.admin_account}</option>
						</volist>
					</select>
					&nbsp;&nbsp;
					开始时间
					<input type="text" id="start_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.start_time}" onClick="jeDate({dateCell:'#start_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="start_time" />
					&nbsp;&nbsp;
					结束时间
					<input type="text" id="end_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.end_time}" onClick="jeDate({dateCell:'#end_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="end_time" />
					&nbsp;&nbsp;
					IP地址
					<select name="ip_address" class="input" style="width:135px; line-height:17px;display:inline-block">
						<option value="-1">选择IP</option>
						<volist name="ip_adds" id="vo">
						<option {$vo.select} value="{$vo.ip_address}">{$vo.ip_address}</option>
						</volist>
					</select>
				</li>
				<li>
					<input type="submit" class="button border-main icon-search" value="搜索"/>
				</li>
			</ul>
		</form>
	</div>
	
	<table class="table table-hover text-center">
		<tr>
			<th width="100" style="text-align:left; padding-left:20px;">#</th>
			<th>操作者</th>
			<th>操作时间</th>
			<th>IP地址</th>
			<th>操作记录</th>
		</tr>

		<if condition="$admin_log_list">
			<volist name="admin_log_list" id="vo">
				<tr>
					<td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="{$vo.log_id}"/>{$vo.log_id}</td>
					<td>{$vo.admin_account}</td>
					<td>{$vo.log_time}</td>
					<td>{$vo.ip_address}</td>
					<td>{$vo.log_info}</td>
				</tr>
			</volist>

			<tr>
				<td colspan="5">
					<div class="pagelist">{$page_info}</div>
				</td>
			</tr>

			<else/>
			<tr>
				<td colspan="5" style="height: 80px;line-height: 80px;font-size: 20px;">
					没有数据
				</td>
			</tr>
		</if>

	</table>
</div>

<script type="text/javascript">

    //反选
    $("#checkall").click(function () {
        $("input[name='id[]']").each(function () {
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

</script>
</body>
</html>