
    <!--banner start-->
    <div class="banner_left">
        <div class="banner_left_left">
            <ul>
                <li style="display:block;"><img src="__PUBLIC__/Home/images/a1.jpg"></li>
                <li><img src="__PUBLIC__/Home/images/a2.jpg"></li>
                <li><img src="__PUBLIC__/Home/images/a3.jpg"></li>
                <li><img src="__PUBLIC__/Home/images/a4.jpg"></li>
            </ul>
        </div>
        <div class="banner_left_right">
            <div class="hover"><img src="__PUBLIC__/Home/images/hover.png"/></div>
            <ul>
                <li><img src="__PUBLIC__/Home/images/a1_l.jpg"></li>
                <li><img src="__PUBLIC__/Home/images/a2_l.jpg"></li>
                <li><img src="__PUBLIC__/Home/images/a3_l.jpg"></li>
                <li><img src="__PUBLIC__/Home/images/a4_l.jpg"></li>
                <ul>
        </div>
    </div>

