
    <!--nav start-->
    <div class="nav">
        <div class="nav_t"></div>
        <div class="nav_c">
            <ul>
                <li><a href="__ROOT__/index.php" <if condition="$article_type eq 'index'">class="on"</if> >首页</a></li>
                <volist name="article_nav" id="vo">
                    <li><a <if condition="$article_type eq $vo['type_id']">class="on"</if> href="__ROOT__/index.php?m=home&c=article&a=article_list&type={$vo.type_id}">{$vo.type_name}</a></li>
                </volist>
                <li><a <if condition="$article_type eq 'album'">class="on"</if> href="__ROOT__/index.php?m=home&c=album&a=album_type_list&type=album">影踪</a></li>
                <!-- <li><a href="__ROOT__/index.php?m=home&c=index&a=time">追踪时光</a></li> -->
            </ul>
        </div>
    </div>
    <!--nav end-->