<div class="banner_right">
    <div class="search">
        <input type="text" placeholder="请输入关键词" autofocus/>
        <a href="#">搜索</a>
    </div>
    <div class="lit_nav">
        <div class="borD"><a href="#">大风车</a></div>
        <div class="borD"><a href="#">大水牛</a></div>
        <div class="borD"><a href="#">小正太</a></div>
        <div class="borD"><a href="#">小萝莉</a></div>
        <div class="borD"><a href="#">好好哦</a></div>
        <div class="borD"><a href="#">坏坏哦</a></div>
        <div style="clear:both;"></div>
    </div>
    <div class="tonZ">
        <h3 class="zn_tonZ">站内通知<img src="__PUBLIC__/Home/images/tonZ.gif" width="20"height="20"/></h3>
        <p class="tonZ_con">
            <!--<span>热烈祝贺：</span>步浪个人博客1.0版正式上线，欢迎大家来吐槽，<a href="#">留言</a>你们的建议，浪哥在此拜谢！！-->
            你来与不来与我无关，谢谢！
        </p>
    </div>
</div>
<div style="clear:both;"></div>