
<!--top start-->
<div class="top">
    <div class="top_con">
        <div class="top_con_left"><a href="#"><img src="__PUBLIC__/Home/images/logo.jpg" width="300" height="150"
                                                   alt="博客" title="个人博客"></a></div>
        <div class="top_con_right">
            <p class="pinf">生命有限，梦想无限</p>
            <p class="jiaz">因为有梦，生命不熄，精彩不止</p>
            <p class="bulang">针锋</p>
            <b><img src="__PUBLIC__/Home/images/top.gif" height="130" alt="刘亦菲相册" title="刘亦菲相册"/></b>
        </div>
    </div>
</div>
<!--top end-->