
<!--top start-->
<div class="top">
    <div class="top_con">
        <div class="top_con_left"><a href="#"><img src="__PUBLIC__/Home/images/logo.png" width="300" height="150"
                                                   alt="博客" title="个人博客"></a></div>
        <div class="top_con_right">
            <p class="pinf">要成功先发疯，先发疯，先发疯</p>
            <p class="jiaz">头脑简单向前冲，向前冲，向前冲</p>
            <p class="bulang">-----> 真得疯</p>
            <b><img src="__PUBLIC__/Home/images/money.png" height="130" alt="钱钱钱" title="钱钱钱"/></b>
        </div>
    </div>
</div>
<!--top end-->