<include file='Common:top'/>

<script type="text/javascript" src="__PUBLIC__/jeDate/jedate.js"></script>

<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span> 发表直播</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="" enctype="multipart/form-data">
            <div class="form-group">
                <div class="label">
                    <label>主播名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="act_name" data-validate="required:请输入名称"/>
                    <div class="tips"></div>
                </div>
            </div>
			
			<div class="form-group">
                <div class="label">
                    <label>主播头像：</label>
                </div>
                <div class="field">
                    <div style="width:90px;height: 90px;margin-right: 35px;float: left;position: relative;">
                        <img src="__PUBLIC__/Zadmin/images/add.png" style="width: 100%;height: 100%;" />
                        <input type="file" onchange="change_img(this)" style="width:90px;height: 90px;opacity: 0;position: absolute;top:0;left: 0;" name="image[]">
                    </div>
                </div>
            </div>
			
            <div class="form-group">
                <div class="label">
                    <label>主播平台：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="" name="act_platform" data-validate="required:请输入平台"/>
                    <div class="tips"></div>
                </div>
            </div>		

            <div class="form-group">
                <div class="label">
                    <label>主播时间：</label>
                </div>
                <div class="field">
                    <input type="text" id="datebut" class="input w50" value="" onClick="jeDate({dateCell:'#datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="act_time" data-validate="required:请输入时间"/>
                    <div class="tips"></div>
                </div>
            </div>				
		
			
            <div class="form-group">
                <div class="label">
                    <label>类别：</label>
                </div>
                <div class="field">
                    <select name="type_id" class="input w50" data-validate="required:请选择类别">
                        <option value="">请选择类别</option>
                        <volist name="types" id="vo">
                            <option value="{$vo.type_id}">{$vo.type_name}</option>
                        </volist>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
			
            <div class="form-group">
                <div class="label">
                    <label>主播地址：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" value="" name="act_player_url" data-validate="required:请输入主播地址"/>
                    <div class="tips"></div>
                </div>
            </div>				

            <div class="form-group">
                <div class="label">
                    <label>描述：</label>
                </div>
                <div class="field">
                    <textarea class="input" name="act_desc" style=" height:90px;"></textarea>
                    <div class="tips"></div>
                </div>
            </div>

            <div class="clear"></div>
            <div class="form-group">
                <div class="label">
                    <label>展示：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_show" value="0" type="radio"/>
                    是 <input name="is_show" checked value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>精华：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_good" checked value="0" type="radio"/>
                    是 <input name="is_good" value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>热门：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_hot" checked value="0" type="radio"/>
                    是 <input name="is_hot" value="1" type="radio"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>结束：</label>
                </div>
                <div class="field" style="padding-top:8px;">
                    否 <input name="is_over" checked value="0" type="radio"/>
                    是 <input name="is_over" value="1" type="radio"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 发布</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function change_img(obj){
        var files = obj.files;
        if (!files.length || !window.FileReader) return;
        if (/^image/.test( files[0].type)){
            var reader = new FileReader();
            reader.readAsDataURL(files[0]);
            reader.onloadend = function(){
                $(obj).siblings('img').attr('src',this.result);
            }
        }
    }

</script>

</body>
</html>