<include file='Common:top'/>

<body>

<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 直播列表</strong>
    </div>
    <div class="padding border-bottom">
        <form action="" method="get">
            <input type="hidden" name="m" value="zadmin" />
            <input type="hidden" name="c" value="action" />
            <input type="hidden" name="a" value="action_list" />
            <ul class="search" style="padding-left:10px;">
                <li>展示
                    <select name="is_show" class="input" style="width:60px; line-height:17px; display:inline-block">
                        <option value="-1">选择</option>
                        <option <if condition="$search_state['is_show'] eq 1">selected='selected'</if> value="1">是</option>
                        <option <if condition="$search_state['is_show'] eq 0">selected='selected'</if> value="0">否</option>
                    </select>
                    &nbsp;&nbsp;
                    结束
                    <select name="is_recommend" class="input" style="width:60px; line-height:17px;display:inline-block">
                        <option value="-1">选择</option>
                        <option <if condition="$search_state['is_over'] eq 1">selected='selected'</if> value="1">是</option>
                        <option <if condition="$search_state['is_over'] eq 0">selected='selected'</if> value="0">否</option>
                    </select>
                    &nbsp;&nbsp;
                    精华
                    <select name="is_top" class="input" style="width:60px; line-height:17px;display:inline-block">
                        <option value="-1">选择</option>
                        <option <if condition="$search_state['is_good'] eq 1">selected='selected'</if> value="1">是</option>
                        <option <if condition="$search_state['is_good'] eq 0">selected='selected'</if> value="0">否</option>
                    </select>
                    &nbsp;&nbsp;
                    热门
                    <select name="is_hot" class="input" style="width:60px; line-height:17px;display:inline-block">
                        <option value="-1">选择</option>
                        <option <if condition="$search_state['is_hot'] eq 1">selected='selected'</if> value="1">是</option>
                        <option <if condition="$search_state['is_hot'] eq 0">selected='selected'</if> value="0">否</option>
                    </select>
                    &nbsp;&nbsp;
                    类别
                    <select name="type_id" class="input" style="width:120px; line-height:17px;display:inline-block">
                        <option value="-1">选择</option>
                        <volist name="types" id="vo">
                            <option <if condition="$search_state['type_id'] eq $vo['type_id']">selected='selected'</if> value="{$vo.type_id}">{$vo.type_name}</option>
                        </volist>
                    </select>
                </li>

                <li>
                    <input type="text" placeholder="请输入主播关键字" value="{$search_state.keywords}" name="keywords" class="input"
                           style="width:250px; line-height:17px;display:inline-block"/>
                    <input type="submit" class="button border-main icon-search" value="搜索"/>
                </li>
            </ul>
        </form>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="100" style="text-align:left; padding-left:20px;">ID</th>
            <th>直播名</th>
            <th>直播头像</th>
            <th>直播时间</th>
            <th>直播描述</th>
            <th>直播平台</th>
            <th>直播地址</th>
            <th>添加时间</th>
            <th>添加人</th>
            <th>类型</th>
            <th>展示</th>
            <th>结束</th>
            <th>热门</th>
            <th>精华</th>
            <th width="310">操作</th>
        </tr>

        <if condition="$action_list">
            <volist name="action_list" id="vo">
                <tr>
                    <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="{$vo.action_id}"/>{$vo.act_id}</td>
                    <td>{$vo.act_name}</td>
					<td><img src="__ROOT__{$vo.act_head_url}" width="50" height="50" /></td>
					<td>{$vo.act_time}</td>
					<td>{$vo.act_desc}</td>
					<td>{$vo.act_platform}</td>
					<td>{$vo.act_player_url}</td>
					<td>{$vo.add_time}</td>
					<td>{$vo.admin_account}</td>
                    <td>{$types[$vo['type_id']]['type_name']}</td>         
                    <td>{$state[$vo['is_show']]}</td>
                    <td>{$state[$vo['is_over']]}</td>
                    <td>{$state[$vo['is_hot']]}</td>
                    <td>{$state[$vo['is_good']]}</td>
                    <td>
                        <div class="button-group">
                            <a class="button border-main" href="__ROOT__/index.php?m=zadmin&c=action&a=action_edit&id={$vo.act_id}"><span class="icon-edit"></span> 修改</a>
                            <a class="button border-red" href="javascript:void(0)" onclick="del({$vo.act_id})">
                                <span class="icon-trash-o"></span> 删除
                            </a>
                        </div>
                    </td>
                </tr>
            </volist>
            <tr>
                <td style="text-align:left; padding:19px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>
                    全选
                </td>
                <td colspan="14" style="text-align:left;padding-left:20px;">
                    <a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;"
                       onclick="DelSelect()"> 删除</a>
                </td>
            </tr>
            <tr>
                <td colspan="13">
                    <div class="pagelist">{$page_info}</div>
                </td>
            </tr>
            <else/>
            <tr>
                <td colspan="13" style="height: 80px;line-height: 80px;font-size: 20px;">
                    没有数据
                </td>
            </tr>
        </if>
    </table>
</div>

<script type="text/javascript">

    //单个删除
    function del(id) {
        if(confirm("您确定要删除吗?")) {
            $.ajax({
                type: 'post',
                url: '__ROOT__/index.php?m=zadmin&c=action&a=action_del',
                data: {ids: id},
                dataType: 'text',
                success: function(data){
                    if(data == 1){
                        alert('删除成功');
                        location.reload();
                    }else{
                        alert('删除失败');
                    }
                }
            });
        }
    }

    //全选
    $("#checkall").click(function () {
        $("input[name='id[]']").each(function () {
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect() {
        var Checkbox = false;
        var ids = '';
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
                if(ids){
                    ids += ','+this.value;
                }else{
                    ids = this.value;
                }
            }
        });
        if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;

            $.ajax({
                type: 'post',
                url: '__ROOT__/index.php?m=zadmin&c=action&a=action_del',
                data: {ids: ids},
                dataType: 'text',
                success: function(data){
                    if(data == 1){
                        alert('删除成功');
                        location.reload();
                    }else{
                        alert('删除失败');
                    }
                }
            });
        } else {
            alert("请选择您要删除的内容!");
            return false;
        }
    }

</script>
</body>
</html>