<include file='Common:top'/>

<script src="__PUBLIC__/Zadmin/js/jqplot.js"></script>
<script>
$(document).ready(function() {
	var data = [[{$nums.today_8.pv_num},{$nums.today_7.pv_num},{$nums.today_6.pv_num},{$nums.today_5.pv_num},{$nums.today_4.pv_num},{$nums.today_3.pv_num},{$nums.today_2.pv_num},{$nums.today_1.pv_num},{$nums.today.pv_num}],[{$nums.today_8.ip_num},{$nums.today_7.ip_num},{$nums.today_6.ip_num},{$nums.today_5.ip_num},{$nums.today_4.ip_num},{$nums.today_3.ip_num},{$nums.today_2.ip_num},{$nums.today_1.ip_num},{$nums.today.ip_num}]];
	var data_max = {$max_num};              //Y轴最大刻度
	var line_title = ["pv","ip"];   //曲线名称
	var y_label = "访问量";         //Y轴标题
	var x_label = "日期";           //X轴标题
	var x = ['{$days.today_8}','{$days.today_7}','{$days.today_6}','{$days.today_5}','{$days.today_4}','{$days.today_3}','{$days.today_2}','{$days.today_1}','{$days.today}'];    //定义X轴刻度值
	var title = "pv/ip统计";        //统计图标标题
	j.jqplot.diagram.base("chart1", data, line_title, title, x, x_label, y_label, data_max, 1);
	j.jqplot.diagram.base("chart2", data, line_title, title, x, x_label, y_label, data_max, 2);
});
</script>

<body>
	<div id="chart1"></div>
	<br/>
	<br/>
	<div id="chart2"></div>
</body>
</html>