<include file='Common:top'/>

<body>
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 管理员列表</strong></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button border-main icon-plus-square-o" href="__ROOT__/index.php?m=myadmin&c=admin&a=admin_add"> 添加管理员</a>
                </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="100" style="text-align:left; padding-left:20px;">#</th>
                <th>帐号</th>
                <th>角色</th>
                <th>别名</th>
                <th>电话</th>
                <th>性别</th>
                <th>注册时间</th>
                <th width="310">操作</th>
            </tr>

            <if condition="$admin">
                <volist name="admin" id="vo">
                    <tr>
                        <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="{$vo.admin_id}"/></td>
                        <td>{$vo.admin_account}</td>
                        <td>{$roles[$vo['admin_role_id']]}</td>
                        <td>{$vo.admin_name}</td>
                        <td>{$vo.admin_phone}</td>
                        <td>{$sex_state[$vo['admin_sex']]}</td>
                        <td>{$vo.admin_register_time}</td>
                        <td>
                            <div class="button-group">
                                <a class="button border-main" href="__ROOT__/index.php?m=myadmin&c=admin&a=admin_edit&id={$vo.admin_id}"><span class="icon-edit"></span> 修改</a>
                                <a class="button border-red" href="javascript:void(0)" onclick="del({$vo.admin_id})">
                                    <span class="icon-trash-o"></span> 删除
                                </a>
                            </div>
                        </td>
                    </tr>
                </volist>
                <tr>
                    <td style="text-align:left; padding:19px 0;padding-left:20px;">
                        <input type="checkbox" id="checkall"/>全选/反选
                    </td>
                    <td colspan="7" style="text-align:left;padding-left:20px;">
                        <a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 删除</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div class="pagelist">{$page}</div>
                    </td>
                </tr>

                <else/>
                <tr>
                    <td colspan="8" style="height: 80px;line-height: 80px;font-size: 20px;">
                        没有数据
                    </td>
                </tr>
            </if>

        </table>
    </div>
<script type="text/javascript">

    //单个删除
    function del(id) {
        if(confirm("您确定要删除吗?")) {
            $.ajax({
                type: 'post',
                url: '__ROOT__/index.php?m=myadmin&c=admin&a=admin_del',
                data: {ids: id},
                dataType: 'text',
                success: function(data){
					var obj = eval('(' + data + ')');
					alert(obj.info);
					if(obj.status == 1){
						location.reload();
					}
                }
            });
        }
    }

    //反选
    $("#checkall").click(function () {
        $("input[name='id[]']").each(function () {
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect() {
        var Checkbox = false;
        var ids = '';
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
                if(ids){
                    ids += ','+this.value;
                }else{
                    ids = this.value;
                }
            }
        });
        if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;

            $.ajax({
                type: 'post',
                url: '__ROOT__/index.php?m=myadmin&c=admin&a=admin_del',
                data: {ids: ids},
                dataType: 'text',
                success: function(data){
					var obj = eval('(' + data + ')');
					alert(obj.info);
					if(obj.status == 1){
						location.reload();
					}
                }
            });
        } else {
            alert("请选择您要删除的内容!");
            return false;
        }
    }

</script>
</body>
</html>