<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>塔塔峰-首页</title>
    <meta name="keywords" content="塔塔峰游戏">
    <meta name="Description" content="塔塔峰游戏，玩到要发疯">
	<link rel="shortcut icon" href="zhi_favicon.ico">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Ttfgame/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Ttfgame/css/index.css"/>
    <script src="__PUBLIC__/Ttfgame/js/jquery-3.2.1.min.js"></script>
</head>
<body id="body">

	<div id="top">
		<div class="one">
			<img src="__PUBLIC__/Ttfgame/images/head01.jpg" />
		</div>
		<div class="two">
			<p>44444asdgasddddddddd</p>
			<p>44444</p>
			<span>545</span>
		</div>
	</div>
	
	
	<div id="bottom">
	
	</div>

</body>
</html>