<!doctype html>
<html>

<include file='Common:header'/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/article_list.css"/>

<body>

<include file='Common:top'/>

<!--con start-->
<div class="con">

    <include file='Common:nav'/>

    <!--articla start-->
    <div class="article_left">
        <div class="article_tuiJ">
            <h3><a href="#">首页</a>&gt;&gt;<a href="#">{$cur_type.type_name}</a></h3>
            <p>{$cur_type.type_desc}</p>
        </div>

        <if condition="$article_list">
            <volist name="article_list" id="vo">
                <div class="article_tit">
                    <div class="article_tit_pic"><a href="#"><img <if condition="$vo['article_img']">src="__ROOT__{$vo.article_img}"<else /> src="__PUBLIC__/Home/images/01.jpg"</if> /></a></div>
                    <div class="article_tit_txt">
                        <h4><a href="#">{$vo.article_title}</a></h4>
                        <p><a href="javascript:voide(0)" class="writer">{$vo.admin_account}</a><a href="#" class="Clas">{$types[$vo['type_id']]['type_name']}</a><a
                                href="javascript:voide(0)" class="time">{$vo.article_time}</a><a href="javascript:voide(0)"
                                                                                                 class="opine">评论（{$vo.comment_num}）</a><a
                                href="javascript:voide(0)" class="look">浏览（{$vo.read_num}）</a></p>
                        <p class="article_con">
                            {$vo.article_desc}
                        </p>
                        <a href="__ROOT__/article/article_detail/article_id/{$vo.article_id}/type/{$cur_type.type_id}" class="readAll">阅读全文</a>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </volist>
            <div class="Index">
                <ul>
                    {$page_info}
                </ul>
            </div>
            <else/>
            <div class="article_tit" style="text-align: center;">
                没有数据
            </div>
        </if>


    </div>
    <!--article end-->

    <include file='Common:article_nav'/>

    <div style="clear:both;"></div>
</div>
<div class="return_top"><a href="javascript:void(0)"></a></div>

<include file='Common:footer'/>

<!--con end-->

<include file='Common:bottom'/>

</body>
</html>