<include file='Common:top'/>
<script type="text/javascript" src="__PUBLIC__/Js/Jedate/jedate.js"></script>

<body>

<div class="panel admin-panel">
	<div class="panel-head"><strong class="icon-reorder"> 天赋技能列表</strong></div>
	
	<div class="padding border-bottom">
		<form action="" method="get">
			<input type="hidden" name="m" value="ttfadmin" />
			<input type="hidden" name="c" value="select" />
			<input type="hidden" name="a" value="select_role_skill" />
			<input type="hidden" name="id_name" value="{$search_state.id_name}" />
			<ul class="search" style="padding-left:10px;">
				<li>
					名称
					<input type="text" id="role_skill_name" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.role_skill_name}" name="role_skill_name" />
					&nbsp;&nbsp;
					开始时间
					<input type="text" id="start_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.start_time}" onClick="jeDate({dateCell:'#start_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="start_time" />
					&nbsp;&nbsp;
					结束时间
					<input type="text" id="end_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.end_time}" onClick="jeDate({dateCell:'#end_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="end_time" />
				</li>
				<li>
					<input type="submit" class="button border-main icon-search" value="搜索"/>
				</li>				
			</ul>
		</form>
	</div>	
	
	<table class="table table-hover text-center">
		<tr>
			<th>技能ID</th>
			<th>技能名</th>
			<th>logo</th>
			<th>描述</th>
			<th>时间</th>
			<th>物攻</th>
			<th>魔攻</th>
			<th>生命</th>
			<th>魔法</th>
			<th>物防</th>
			<th>魔防</th>
			<th>闪避</th>
			<th>命中</th>
			<th>暴击</th>
			<th>生命回复</th>
			<th>魔法回复</th>
			<th>操作</th>
		</tr>

		<tr>
			<td>0</td>
			<td>无</td>
			<td><img width="40" height="40" src="__PUBLIC__/Ttfadmin/images/no_skill.jpg"/></td>
			<td>无</td>
			<td>无</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td><button onclick="chose_skill(0,'无','{$search_state.id_name}')" class="button">选中</button></td>
		</tr>		
		<if condition="$role_skill_list">		
			<volist name="role_skill_list" id="vo">
				<tr>
					<td>{$vo.role_skill_id}</td>
					<td>{$vo.role_skill_name}</td>
					<td><img width="40" height="40" src="__ROOT__{$vo.role_skill_logo}"/></td>
					<td>{$vo.role_skill_desc}</td>
					<td>{$vo.role_skill_time}</td>
					<td>{$vo.role_skill_attack}</td>
					<td>{$vo.role_skill_magic}</td>
					<td>{$vo.role_skill_hp}</td>
					<td>{$vo.role_skill_mp}</td>
					<td>{$vo.role_skill_attack_defense}</td>
					<td>{$vo.role_skill_magic_defense}</td>
					<td>{$vo.role_skill_dodge}</td>
					<td>{$vo.role_skill_direct}</td>
					<td>{$vo.role_skill_crit}</td>
					<td>{$vo.role_skill_hp_regain}</td>
					<td>{$vo.role_skill_mp_regain}</td>
					<td><button onclick="chose_skill({$vo.role_skill_id},'{$vo.role_skill_name}','{$search_state.id_name}')" class="button">选中</button></td>
				</tr>
			</volist>				
		</if>
		<tr>
			<td colspan="17">
				<div class="pagelist">{$page}</div>
			</td>
		</tr>
		
	</table>
</div>

<script type="text/javascript">
	//父窗口更改
	function chose_skill(id,name,id_name){
		window.opener.$("#"+id_name).val(id);
		window.opener.$("#"+id_name).siblings('button').html(name);
		window.close();
	}

</script>
</body>
</html>