<include file='Common:top'/>
<script type="text/javascript" src="__PUBLIC__/Js/Jedate/jedate.js"></script>

<body>

<div class="panel admin-panel">
	<div class="panel-head"><strong class="icon-reorder"> 通用技能列表</strong></div>
	
	<div class="padding border-bottom">
		<form action="" method="get">
			<input type="hidden" name="m" value="ttfadmin" />
			<input type="hidden" name="c" value="currency" />
			<input type="hidden" name="a" value="common_skill" />
			<ul class="search" style="padding-left:10px;">
				<li>
					名称
					<input type="text" id="common_skill_name" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.common_skill_name}" name="common_skill_name" />
					&nbsp;&nbsp;
					开始时间
					<input type="text" id="start_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.start_time}" onClick="jeDate({dateCell:'#start_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="start_time" />
					&nbsp;&nbsp;
					结束时间
					<input type="text" id="end_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.end_time}" onClick="jeDate({dateCell:'#end_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="end_time" />
				</li>
				<li>
					<input type="submit" class="button border-main icon-search" value="搜索"/>
				</li>
				
				<li>
				<a class="button border-main icon-plus-square-o" href="__ROOT__/index.php?m=ttfadmin&c=currency&a=common_skill_add"> 添加通用技能</a>
				</li>					
			</ul>
		</form>
	</div>	
	
	<table class="table table-hover text-center">
		<tr>
			<th>技能ID</th>
			<th>技能名</th>
			<th>logo</th>
			<th>描述</th>
			<th>时间</th>
			<th width="310">操作</th>
		</tr>

		<if condition="$common_skill_list">
			<volist name="common_skill_list" id="vo">
				<tr>
					<td>{$vo.common_skill_id}</td>
					<td>{$vo.common_skill_name}</td>
					<td><img width="40" height="40" src="__ROOT__{$vo.common_skill_logo}"/></td>
					<td>{$vo.common_skill_desc}</td>
					<td>{$vo.common_skill_time}</td>
					<td>
						<div class="button-group">
							<a class="button border-main" href="__ROOT__/index.php?m=ttfadmin&c=currency&a=common_skill_edit&id={$vo.common_skill_id}"><span class="icon-edit"></span> 修改</a>
							<a class="button border-red" href="__ROOT__/index.php?m=ttfadmin&c=currency&a=common_skill_del&ids={$vo.common_skill_id}"><span class="icon-trash-o"></span> 删除</a>
						</div>
					</td>
				</tr>
			</volist>
			
			<tr>
				<td colspan="6">
					<div class="pagelist">{$page}</div>
				</td>
			</tr>				
						
			<else/>
			<tr>
				<td colspan="6" style="height: 80px;line-height: 80px;font-size: 20px;">
					没有数据
				</td>
			</tr>
		</if>

	</table>
</div>
</body>
</html>