<include file='Common:top'/>

<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-key"></span> 添加等级经验</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">

            <div class="form-group">
                <div class="label">
                    <label>等级：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="" name="level" data-validate="required:请输等级"/>
                    <div class="tips"></div>
                </div>
            </div>			

            <div class="form-group">
                <div class="label">
                    <label>经验：</label>
                </div>
                <div class="field">
                    <input type="number" class="input w50" value="" name="experience" data-validate="required:请输入经验值"/>
                    <div class="tips"></div>
                </div>
            </div>			

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 添加</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>





