<include file='Common:top'/>
<script type="text/javascript" src="__PUBLIC__/Js/Jedate/jedate.js"></script>

<body>

<div class="panel admin-panel">
	<div class="panel-head"><strong class="icon-reorder"> 怪物列表</strong></div>
	
	<div class="padding border-bottom">
		<form action="" method="get">
			<input type="hidden" name="m" value="ttfadmin" />
			<input type="hidden" name="c" value="currency" />
			<input type="hidden" name="a" value="monster" />
			<ul class="search" style="padding-left:10px;">
				<li>
					名称
					<input type="text" id="monster_name" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.monster_name}" name="monster_name" />
					&nbsp;&nbsp;
					开始时间
					<input type="text" id="start_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.start_time}" onClick="jeDate({dateCell:'#start_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="start_time" />
					&nbsp;&nbsp;
					结束时间
					<input type="text" id="end_datebut" autocomplete="off" class="input" style="width:160px; line-height:17px; display:inline-block" value="{$search_state.end_time}" onClick="jeDate({dateCell:'#end_datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" name="end_time" />
					&nbsp;&nbsp;
					类型
					<select name="search_id" class="input" onchange="chose_type(this.value)" style="width:135px; line-height:17px;display:inline-block">
						<option value="0">请选择</option>
						<volist name="s_types.one" id="vo">
						<option <?php if($vo['type_id'] == $search_state['search_id']) echo 'selected';?> value="{$vo.type_id}">{$vo.type_name}</option>
						</volist>
					</select>						
											
					<select id="select_id_2" name="search_id_2" class="input" onchange="chose_type_2(this.value)" style="width:135px; line-height:17px;display:<?php if($search_state['search_id'] > 0 && $search_state['search_id_2'] > 0){echo 'inline-block';}else{echo 'none';}?>">
						<if condition="$search_state.search_id_2">
							<option value="0">上一级</option>
							<volist name="s_types.two" id="vo">
							<option <?php if($vo['type_id'] == $search_state['search_id_2']) echo 'selected';?> value="{$vo.type_id}">{$vo.type_name}</option>
							</volist>
						</if>	
					</select>
								
					<select id="select_id_3" name="search_id_3" class="input" onchange="chose_type_3(this.value)" style="width:135px; line-height:17px;display:<?php if($search_state['search_id'] > 0 && $search_state['search_id_2'] > 0 && $search_state['search_id_3'] > 0){echo 'inline-block';}else{echo 'none';}?>">
						<if condition="$search_state.search_id_3">
							<option value="0">上一级</option>
							<volist name="s_types.three" id="vo">
							<option <?php if($vo['type_id'] == $search_state['search_id_3']) echo 'selected';?> value="{$vo.type_id}">{$vo.type_name}</option>
							</volist>
						</if>		
					</select>
															
				</li>
				<li>
					<input type="submit" class="button border-main icon-search" value="搜索"/>
				</li>
				
				<li>
				<a class="button border-main icon-plus-square-o" href="__ROOT__/index.php?m=ttfadmin&c=currency&a=monster_add"> 增加怪物</a>
				</li>					
			</ul>
		</form>
	</div>	
	
	<table class="table table-hover text-center">
		<tr>
			<th>怪物ID</th>
			<th>怪物名</th>
			<th>类型</th>
			<th>logo</th>
			<th>描述</th>
			<th>时间</th>
			<th>物攻</th>
			<th>魔攻</th>
			<th>生命</th>
			<th>魔法</th>
			<th>物防</th>
			<th>魔防</th>
			<th>闪避</th>
			<th>命中</th>
			<th>暴击</th>
			<th width="310">操作</th>
		</tr>

		<if condition="$monster_list">
			<volist name="monster_list" id="vo">
				<tr>
					<td>{$vo.monster_id}</td>
					<td>{$vo.monster_name}</td>
					<td>{$vo.type_name}</td>
					<td><img width="40" height="40" src="__ROOT__{$vo.monster_logo}"/></td>
					<td>{$vo.monster_desc}</td>
					<td>{$vo.monster_time}</td>
					<td>{$vo.monster_attack}</td>
					<td>{$vo.monster_magic}</td>
					<td>{$vo.monster_hp}</td>
					<td>{$vo.monster_mp}</td>
					<td>{$vo.monster_attack_defense}</td>
					<td>{$vo.monster_magic_defense}</td>
					<td>{$vo.monster_dodge}</td>
					<td>{$vo.monster_direct}</td>
					<td>{$vo.monster_crit}</td>
					<td>
						<div class="button-group">
							<a class="button border-main" href="__ROOT__/index.php?m=ttfadmin&c=currency&a=monster_edit&id={$vo.monster_id}"><span class="icon-edit"></span> 修改</a>
							<a class="button border-red" href="javascript:void(0)" onclick="del({$vo.monster_id})">
								<span class="icon-trash-o"></span> 删除
							</a>
						</div>
					</td>
				</tr>
			</volist>
			
			<tr>
				<td colspan="16">
					<div class="pagelist">{$page}</div>
				</td>
			</tr>				
						
			<else/>
			<tr>
				<td colspan="16" style="height: 80px;line-height: 80px;font-size: 20px;">
					没有数据
				</td>
			</tr>
		</if>

	</table>
</div>

<script type="text/javascript">

    //单个删除
    function del(id) {
        if(confirm("您确定要删除吗?")) {
            $.ajax({
                type: 'post',
                url: '__ROOT__/index.php?m=ttfadmin&c=currency&a=monster_del',
                data: {ids: id},
                dataType: 'text',
                success: function(data){
                    if(data == 1){
                        layer.msg('删除成功');
                        location.reload();
                    }else{
                        layer.msg('删除失败');
                    }
                }
            });
        }
    }

	function chose_type(id){
		if(id>0){
			$('#select_id_2').css('display','inline-block');
			$('#select_id_3').val(0);
			$('#select_id_3').css('display','none');
			$.ajax({
				type: 'post',
				url: '__ROOT__/index.php?m=ttfadmin&c=currency&a=type_get',
				data: {id: id},
				dataType: 'text',
				success: function(data){
					$('#select_id_2').html(data);
				}
			});
				
		}else{
			$('#select_id_2').val(0);
			$('#select_id_3').val(0);		
			$('#select_id_2').css('display','none');
			$('#select_id_3').css('display','none');
		}
	}
	function chose_type_2(id){
		if(id>0){
			$('#select_id_3').css('display','inline-block');
			$.ajax({
				type: 'post',
				url: '__ROOT__/index.php?m=ttfadmin&c=currency&a=type_get',
				data: {id: id},
				dataType: 'text',
				success: function(data){
					$('#select_id_3').html(data);
				}
			});
				
		}else{
			$('#select_id_2').val(0);
			$('#select_id_3').val(0);			
			$('#select_id_2').css('display','none');
			$('#select_id_3').css('display','none');
		
		}
	}	
	function chose_type_3(id){
		if(id==0){
			$('#select_id_3').val(0);
			$('#select_id_3').css('display','none');	
		}
	}	
</script>
</body>
</html>