@charset"utf-8";
	
/**********************************/	

#login{
	width:70%;
	margin:150px auto; 
	text-align:center;
}	
#login input{
	width:80%;
	height:40px;
	margin:10px auto;
	font-size:24px;
	line-height:40px;
}	
#login button{
	margin-top:20px;
	padding:5px 30px;
	font-size:18px;
}	
#login a{
	text-decoration:none;
	color:blue;
}

/**********************************/

#register{
	width:70%;
	margin:150px auto; 
	text-align:center;
}	
#register input{
	width:80%;
	height:40px;
	margin:10px auto;
	font-size:24px;
	line-height:40px;
}	
#register button{
	margin-top:20px;
	padding:5px 30px;
	font-size:18px;
}
#register a{
	text-decoration:none;
	color:blue;
}






